APScheduler==3.6.3
astroid==2.3.3
bcrypt==3.1.7
bson==0.5.9
cffi==1.14.0
Click==7.0
cryptography==2.8
cycler==0.10.0
ffmpeg-python==0.2.0
Flask==1.1.1
Flask-APScheduler==1.11.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-PyMongo==2.3.0
Flask-Uploads==0.2.1
future==0.18.2
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
numpy==1.18.1
pycparser==2.19
pydub==0.23.1
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.1
python-dotenv==0.11.0
pytz==2019.3
scipy==1.4.1
six==1.14.0
tzlocal==2.0.0
ValidX==0.5.1
Wave==0.0.2
Werkzeug==0.16.0
wrapt==1.11.2
